@{
    ViewBag.Title = "Contact";
}
<h3 style="margin-top: 10%">@ViewBag.Message</h3>

<address>
    Sopra Steria Group S.p.A<br />
    Milan, MI - Palazzo A7, Str. 4 - 20090<br />
    <abbr title="Phone">P:</abbr>
    (+39) 02 892291
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@baseballapp.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@baseballapp.com</a>
</address>